<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="moveBack()"> <ion-icon name="arrow-back" style="font-size: 26px;"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title text-center>
      <h1 style="font-size: 32px; padding-right: 2rem;">Paticipants</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-spinner name="crescent" color="success" [hidden]="!showSpinner"></ion-spinner>
    <div class="dashboardadmin">
      <div style="text-align:center">
        <h3>Event {{event.name}}</h3>
      </div>
      <div style="text-align:center">
        <h3>Category {{eventCategory.name}} {{eventCategory.gender}}</h3>
      </div>
      <div style="text-align:center">
        <h3>Competition {{eventCompDetails.name}} </h3>
      </div>
      <ion-row>
        <ion-col>
          <ion-label position="floating" color="primary">Name</ion-label>
          <ion-input type="text" clearInput [(ngModel)]="eventCompDetails.name" required></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
        <ion-label position="floating" color="primary">Top Output Selection</ion-label>
        <ion-select [(ngModel)]="eventCompDetails.top_selection" required [ngModelOptions]="{standalone: true}">
          <ion-select-option value="64">64</ion-select-option>
          <ion-select-option value="32">32</ion-select-option>
          <ion-select-option value="16">16</ion-select-option>
          <ion-select-option value="8">8</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
      </ion-select>  
      </ion-col>
        </ion-row>
          <ion-row>
            <ion-col>
              <ion-label position="floating" color="primary">Competition Type</ion-label>
              <ion-select [(ngModel)]="eventCompDetails.competition_type" required [ngModelOptions]="{standalone: true}">
                <ion-select-option value="NORMAL">Normal</ion-select-option>
                <ion-select-option value="HEAD">Head to Head</ion-select-option>
            </ion-select>   
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label position="floating" color="primary">Level</ion-label>
              <ion-select [(ngModel)]="eventCompDetails.level" required [ngModelOptions]="{standalone: true}">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
                <ion-select-option value="5">5</ion-select-option>
                <ion-select-option value="6">6</ion-select-option>
            </ion-select>   
            </ion-col>
          </ion-row>
      <ion-row>
        <ion-col>
          <ion-button shape="round" color="success" expand="block" (click)="updateEventCompetition()">Update Competition
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
    <br />
    <br />
    <div>
      <ion-row>
        <ion-col>
        <ion-label position="floating" color="primary">Select Participant from</ion-label>
          <ion-select [(ngModel)]="eventAssignPartForm.pre_event_competition_id" required [ngModelOptions]="{standalone: true}">
          <ion-select-option value={{eventComp.id}} *ngFor="let eventComp of eventCompList; let i = index">{{eventComp.name}}</ion-select-option>
        </ion-select>   
      </ion-col>
        </ion-row>
      <ion-button shape="round" color="danger" expand="block" (click)="assignParticipants()">Assign Participants
      </ion-button>

      <div [hidden]="!(eventPartList || []).length">
        <ion-button shape="round" color="light" expand="block" (click)="updateRanks()">Update Ranks</ion-button>
        <br />
        <br />
        <div style="text-align:center">
          <h3>Events Competitions Participants</h3>
          <p>No of Boards: {{event.no_of_boards}}</p>
          <p>No of Players in each Board: {{event.no_of_player_in_board}}</p>
          <p>Tentative Slots: {{event.no_of_slots}}</p>
          <p>Tentative Players in each Slot: {{event.player_in_slot}}</p>
        </div>
        <br />
        <div>
          <ion-row>
            <ion-col>
              <div>
                <strong> No.</strong>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <strong>Id</strong>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <strong>Full Name</strong>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <strong>Contact No</strong>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <strong>Bring Bow</strong>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <strong>Slot No</strong>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <strong>Board No</strong>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <strong>Group</strong>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <strong>Total Points</strong>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <strong>Rank</strong>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <strong>Action</strong>
              </div>
            </ion-col>
          </ion-row>

          <ion-row *ngFor="let eventP of eventPartList; let i = index" >
            <ion-col (click)="editParticipant(eventP)">
              <div>
                {{i+1}}
              </div>
            </ion-col>
            <ion-col (click)="editParticipant(eventP)">
              <div>
                {{eventP.user.id}}
              </div>
            </ion-col>
            <ion-col (click)="editParticipant(eventP)">
              <div>
                {{eventP.user.first_name}} {{eventP.user.last_name}}
              </div>
            </ion-col>
            <ion-col (click)="editParticipant(eventP)">
              <div>
                {{eventP.user.mobile_no}}
              </div>
            </ion-col>
            <ion-col (click)="editParticipant(eventP)">
              <div>
                {{eventP.user.bring_bow}}
              </div>
            </ion-col>
            <ion-col (click)="editParticipant(eventP)">
              <div>
                {{eventP.slot_no}}
              </div>
            </ion-col>
            <ion-col (click)="editParticipant(eventP)">
              <div>
                {{eventP.board_no}}
              </div>
            </ion-col>
            <ion-col (click)="editParticipant(eventP)">
              <div>
                {{(eventP.group)}}
              </div>
            </ion-col>
            <ion-col (click)="editParticipant(eventP)">
              <div>
                {{(eventP.total_score || 0)}}
              </div>
            </ion-col>
            <ion-col (click)="editParticipant(eventP)">
              <div>
                {{eventP.rank}}
              </div>
            </ion-col>
            <ion-col (click)="viewParticipant(eventP)">
              <div>
                View
              </div>
            </ion-col>
          </ion-row>


        </div>
      </div>
    </div>

    
  </ion-grid>
</ion-content>