// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-app.cameraView, ion-app.cameraView ion-content, ion-app.cameraView .nav-decor {
    background: transparent none !important;
    visibility: hidden;
  }

  * {
    font-family: 'PT Sans Narrow', sans-serif !important;
  }
  ion-toolbar, ion-header {
    --min-height: 85px;
   }
  
.textboxradius .item-native{
     border-radius: 8px !important;
   }

   .item-native {

    border-radius: 8px !important;
  }

    ion-card {
      border-radius: 1rem !important;
    }
    